force-app/main/default/flows/Case_Record_Triger_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Skill_Requirements_Action_1</name>
        <label>Add Skill Requirements Action</label>
        <locationX>1018</locationX>
        <locationY>647</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Routing_skill_Based</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_On_Skill_Requirements</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;5862b636&quot;,&quot;skillId&quot;:&quot;{!Get_Skill.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;1&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirement</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Routing_skill_Based</name>
        <label>Routing skill Based</label>
        <locationX>1018</locationX>
        <locationY>755</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <faultConnector>
            <targetReference>Error_On_Routing_Skill</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N972000000051JCAQ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Case Assigned Channel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>Case_Assigned_Channel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>SkillsBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <stringValue>0K97200000007vxCAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
            <value>
                <stringValue>Case Assigend To Least Busy</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
            <value>
                <stringValue>RunSBRRules</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isRoutingConfigVariable</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <customErrors>
        <name>Error_on_Create_Task_Record</name>
        <label>Error on Create Task Record</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Error_On_Get_Skill</name>
        <label>Error On Get Skill</label>
        <locationX>2074</locationX>
        <locationY>539</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Error_On_Routing_Skill</name>
        <label>Error On Routing Skill</label>
        <locationX>1282</locationX>
        <locationY>863</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Error_On_Skill_Requirements</name>
        <label>Error On Skill Requirements</label>
        <locationX>1546</locationX>
        <locationY>755</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Error_on_update_case_owner</name>
        <label>Error on update case owner</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Error_On_Update_Milestone_Record</name>
        <label>Error On Update Milestone Record</label>
        <locationX>446</locationX>
        <locationY>1835</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Error_on_Update_Parent_Record</name>
        <label>Error on Update Parent Record</label>
        <locationX>578</locationX>
        <locationY>1187</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Skill_Present_Or_Not</name>
        <label>Check Skills Present Or Not</label>
        <locationX>1414</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Skills Not Present</defaultConnectorLabel>
        <rules>
            <name>Skills_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Skill</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Skill_Requirements_Action_1</targetReference>
            </connector>
            <label>Skills Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_status_is_settlement_rejected</name>
        <label>Check status is settlement rejected</label>
        <locationX>446</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Closed_Milestone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Settlement Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status_of_Case</name>
        <label>Check Status of Case</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_status_is_settlement_rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Changed_to_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Call_Center_Agent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner</targetReference>
            </connector>
            <label>Status Changed to Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Update_or_Insert</name>
        <label>Check Update or Insert</label>
        <locationX>930</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Skill</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsInsert</defaultConnectorLabel>
        <rules>
            <name>IsUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Status_of_Case</targetReference>
            </connector>
            <label>IsUpdate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Closed_Milestone</name>
        <label>Closed Milestone</label>
        <locationX>446</locationX>
        <locationY>1619</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Condition_Met</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_milestone_Record</targetReference>
            </connector>
            <label>Condition Met</label>
        </rules>
    </decisions>
    <description>Skill Based Routing And Complete Milestone Record.</description>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Case Record Triger Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Record Trigger (After Insert, Update)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_Record</name>
        <label>Create Task Record</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Closed_Milestone</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_on_Create_Task_Record</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Follow Up On Settlement Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Skill</name>
        <label>Get Skill</label>
        <locationX>1414</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Skill_Present_Or_Not</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_On_Get_Skill</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Skill</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Owner</name>
        <label>Update Case Owner</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Check_status_is_settlement_rejected</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_on_update_case_owner</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Call_Center_Agent__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_milestone_Record</name>
        <label>Update Milestone Record</label>
        <locationX>182</locationX>
        <locationY>1727</locationY>
        <faultConnector>
            <targetReference>Error_On_Update_Milestone_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletionDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>CaseMilestone</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Record</name>
        <label>Update Parent Record</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Create_Task_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_on_Update_Parent_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>804</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Update_or_Insert</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SkillRequirement</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SkillRequirement</objectType>
    </variables>
</Flow>
