force-app/main/default/flows/Case_Repossession_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assigned_case_update_error</name>
        <label>Assigned case update error</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ErrorValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Financial_account_not_present</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_status_as_repossession</name>
        <label>Case status as repossession</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_case_financial_account.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Repossession Initiated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_case_financial_account.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_repossession_queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_case_status_repossession</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_case_financial_account_error</name>
        <label>Get case financial account error</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>ErrorValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Financial_account_not_present</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_repossession_queue_error</name>
        <label>Get repossession queue error</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ErrorValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Financial_account_not_present</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_financial_account_id_present</name>
        <label>Check financial account id present</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>financial account not present</defaultConnectorLabel>
        <rules>
            <name>financial_account_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_case_financial_account.Financial_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_repossession_queue</targetReference>
            </connector>
            <label>financial account present</label>
        </rules>
    </decisions>
    <description>Case Assigned to Repossession Queue</description>
    <environments>Default</environments>
    <interviewLabel>Case Repossession Button {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Case Repossession Button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_case_financial_account</name>
        <label>Get case financial account</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_financial_account_id_present</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Get_case_financial_account_error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_repossession_queue</name>
        <label>Get repossession queue</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_status_as_repossession</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Get_repossession_queue_error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Repossession_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_case_status_repossession</name>
        <label>Update case status repossession</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>SucccessFully_record_assign</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assigned_case_update_error</targetReference>
        </faultConnector>
        <inputReference>Get_case_financial_account</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Financial_account_not_present</name>
        <label>Financial_account_not_present</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Show_error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(18, 18, 18);&quot;&gt;{!ErrorValue}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SucccessFully_record_assign</name>
        <label>SucccessFully record assign</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(14, 15, 14); font-size: 16px;&quot;&gt;Repossession process initiated for this case&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_case_financial_account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ErrorValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Label.Financial_Account_Not_Found</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
