force-app/main/default/flows/Customer_Agree_To_Pay.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Send_Payment_Link</name>
        <label>Send Payment Link</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <actionName>SendPaymentLinkListAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_On_Send_Payment_Link</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>Amount_Paid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paymentMode</name>
            <value>
                <stringValue>Send Payment Link</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paymentOption</name>
            <value>
                <elementReference>Payment_Option</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendPaymentLinkListAction</nameSegment>
        <outputParameters>
            <assignToReference>StoreMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>isError</assignToReference>
            <name>isError</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>PaymentId</assignToReference>
            <name>razorePaymentId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>PaymentStatus</assignToReference>
            <name>razorePaymentStatus</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>PaymentUrl</assignToReference>
            <name>razorePaymentUrl</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Check_Amount_is_Valid_For_Partial</name>
        <label>Check Amount is Valid For Partial</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Send_Payment_Link</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>correct</defaultConnectorLabel>
        <rules>
            <name>Not_Correct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Payment_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pay Partial Amount</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Amount_Paid</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Case_Record.Actual_Amount_To_Be_Paid__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message</targetReference>
            </connector>
            <label>Not Correct</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Message_Is_Success_Or_Error</name>
        <label>Check Message Is Success Or Error</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SuccessFully_Send_Payment_Url</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Transaction_Record</targetReference>
            </connector>
            <label>SuccessFully Send Payment Url</label>
        </rules>
    </decisions>
    <description>Send Payment Link To Customer</description>
    <dynamicChoiceSets>
        <name>PaymentMode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Method__c</picklistField>
        <picklistObject>FinancialAccountTransaction</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaymentOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Option__c</picklistField>
        <picklistObject>FinancialAccountTransaction</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AmountDisabled</name>
        <dataType>Boolean</dataType>
        <expression>OR({!Payment_Option}==&apos;&apos;,{!Payment_Option}==&apos;Pay the Entire Amount&apos;)</expression>
    </formulas>
    <formulas>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <expression>IF({!isError},{!StoreMessage},MID(
    {!StoreMessage}, 
    FIND(&apos;&quot;description&quot;:&quot;&apos;,  {!StoreMessage}) + LEN(&apos;&quot;description&quot;:&quot;&apos;), 
    FIND(&apos;&quot;,&quot;metadata&quot;&apos;,  {!StoreMessage}) - (FIND(&apos;&quot;description&quot;:&quot;&apos;,  {!StoreMessage}) + LEN(&apos;&quot;description&quot;:&quot;&apos;))
))</expression>
    </formulas>
    <interviewLabel>Customer Agree To Pay {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Payment Link To Customer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Transaction_Record</name>
        <label>Create Transaction Oringal Record</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Update_Case_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Financial_Transaction</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Amount_Paid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DebitCreditIndicator</field>
            <value>
                <elementReference>$Label.DebitCreditIndicator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinancialAccountId</field>
            <value>
                <elementReference>Get_Case_Record.Financial_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <stringValue>Send Payment Link</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Option__c</field>
            <value>
                <elementReference>Payment_Option</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Url__c</field>
            <value>
                <elementReference>PaymentUrl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RazorPay_Payment_Id__c</field>
            <value>
                <elementReference>PaymentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>PaymentStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransactionDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>FinancialAccountTransaction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Customer_Agree_To_Pay</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_on_getting_get_record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Roll_Back_Financial_Account_Transaction</name>
        <label>Roll Back Financial Account Transaction</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
    </recordRollbacks>
    <recordRollbacks>
        <name>Roll_Back_Update_Case_Record</name>
        <label>Roll Back Update Case Record</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <faultConnector>
            <targetReference>Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Under Payment Process</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Customer_Agree_To_Pay</name>
        <label>Customer Agree To Pay</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Check_Amount_is_Valid_For_Partial</targetReference>
        </connector>
        <fields>
            <name>Customer_Agree_To_Pay_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Agree_To_Pay_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Payment_Option</name>
                    <choiceReferences>PaymentOptions</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Payment Option</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Agree_To_Pay_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Amount_Paid</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Case_Record.Actual_Amount_To_Be_Paid__c</elementReference>
                    </defaultValue>
                    <fieldText>Amount Paid</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>AmountDisabled</elementReference>
                    </isDisabled>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Financial_Transaction</name>
        <label>Error Financial Transaction</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Roll_Back_Financial_Account_Transaction</targetReference>
        </connector>
        <fields>
            <name>DisplayError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(11, 11, 11); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <fields>
            <name>Error_Message1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(5, 5, 5); font-size: 16px;&quot;&gt;Amount to Paid should be less than Outstanding Amount&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_on_getting_get_record</name>
        <label>Error on getting get record</label>
        <locationX>1634</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessageOnGetRecord</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_On_Send_Payment_Link</name>
        <label>Error On Send Payment Link</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(11, 11, 11); font-size: 16px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Message</name>
        <label>Fault Message</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Roll_Back_Update_Case_Record</targetReference>
        </connector>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(11, 11, 11); font-size: 16px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message</name>
        <label>Message</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Message_Is_Success_Or_Error</targetReference>
        </connector>
        <fields>
            <name>Messgae</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!StoreMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>isError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PaymentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PaymentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PaymentUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StoreMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
