force-app/main/default/flows/Document_Generation_Process_After_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_An_Email_Action_1</name>
        <label>Send An Email Action</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <actionName>SendAnEmailWithAttachment</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Error_On_Get_Send_An_Email_Action</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>$Record.ReferenceObject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contentVersionId</name>
            <value>
                <elementReference>$Record.ResponseText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>Get_Case_Record.ContactEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateName</name>
            <value>
                <elementReference>EmailTemplateName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendAnEmailWithAttachment</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>AssignLegalNotice</name>
        <label>AssignLegalNotice</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>AssignName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Legal Notice</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EmailTemplateLegal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_4</name>
        <label>Assignment 4</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>AssignName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Challan</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmailTemplateLegal</name>
        <label>EmailTemplateLegal</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Legal_Notice_Email</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Error_On_Get_Case</name>
        <label>Error On Get Case</label>
        <locationX>842</locationX>
        <locationY>947</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Error_On_Get_ContentVersion</name>
        <label>Error On Get ContentVersion</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Error_On_Get_Send_An_Email_Action</name>
        <label>Error On Get Send An Email Action</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Legal_notice_For_Send_Mail</name>
        <label>Check Legal notice For Send Mail</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Legal_Notice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal Notice</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_An_Email_Action_1</targetReference>
            </connector>
            <label>If Legal Notice</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReceipt</name>
        <label>CheckReceipt</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Case_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Legal_notice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RequestText</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Legal notice</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignLegalNotice</targetReference>
            </connector>
            <label>Legal notice</label>
        </rules>
        <rules>
            <name>challan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RequestText</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Challan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_4</targetReference>
            </connector>
            <label>challan</label>
        </rules>
    </decisions>
    <description>Whenever a document(Reciept, Legal Notice) is created. For sending legal notice to customer.</description>
    <environments>Default</environments>
    <interviewLabel>Document Generation Process (After Insert,Update) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Document Generation Process (After Insert,Update)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Legal_notice_For_Send_Mail</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_On_Get_Case</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ReferenceObject</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ContentVersion</name>
        <label>Get ContentVersion</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckReceipt</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_On_Get_ContentVersion</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ResponseText</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_ContentVersion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ResponseText</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>DocumentGenerationProcess</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AssignName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Receipt</stringValue>
        </value>
    </variables>
    <variables>
        <name>EmailTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
