force-app/main/default/flows/Financial_Account_Transaction_After_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Paid_Assignment</name>
        <label>Paid Assignment</label>
        <locationX>578</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Total_Amount_Collected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Partially_Paid_Assignment</name>
        <label>Partially Paid Assignment</label>
        <locationX>842</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partially Paid</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Total_Amount_Collected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>status_is_settled</name>
        <label>status is settled</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Settled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Record.Date_of_the_settlement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parent_record_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sum_Of_Amount</name>
        <label>Sum Of Amount</label>
        <locationX>798</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Amount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_related_financial_transaction.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_related_financial_transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_Amount_Collected</name>
        <label>Total Amount Collected</label>
        <locationX>710</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Record.Total_Amount_Collected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Record_Update</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Erorr_on_get_financial_transaction</name>
        <label>Erorr on get financial transaction</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Error_On_Get_Case_Record</name>
        <label>Error On Get Case Record</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Error_On_Update_Case_Record</name>
        <label>Error On Update Case Record</label>
        <locationX>1370</locationX>
        <locationY>1655</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Error_On_Update_Parent_Record</name>
        <label>Error On Update Parent Record</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Amount_Sum_Total_Sum</name>
        <label>Check Amount Sum Total Sum</label>
        <locationX>710</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Partially_Paid_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Equal</defaultConnectorLabel>
        <rules>
            <name>Equal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Case_Record.Actual_Amount_To_Be_Paid__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Paid_Assignment</targetReference>
            </connector>
            <label>Equal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Parent_Id</name>
        <label>Check Parent Id</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>All_Related_Financial_Transaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Parent Not Present</defaultConnectorLabel>
        <rules>
            <name>Parent_Id_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>status_is_settled</targetReference>
            </connector>
            <label>Parent Id Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Transaction_Status_Changed</name>
        <label>Check Transaction Status Changed</label>
        <locationX>1139</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Record</targetReference>
            </connector>
            <label>Is Changed And Status Paid</label>
        </rules>
    </decisions>
    <description>Case status changed to paid, partial paid and settlement</description>
    <environments>Default</environments>
    <interviewLabel>Financial Account Transaction (After Insert,Update) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Financial Account Transaction (After Insert,Update)</label>
    <loops>
        <name>Loop_on_related_financial_transaction</name>
        <label>Loop on related financial transaction</label>
        <locationX>710</locationX>
        <locationY>755</locationY>
        <collectionReference>All_Related_Financial_Transaction</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_Of_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Amount_Sum_Total_Sum</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>All_Related_Financial_Transaction</name>
        <label>All Related Financial Transaction</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_related_financial_transaction</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Erorr_on_get_financial_transaction</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FinancialAccountTransaction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Parent_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_On_Get_Case_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Case_Record_Update</name>
        <label>Case Record Update</label>
        <locationX>380</locationX>
        <locationY>1547</locationY>
        <faultConnector>
            <targetReference>Error_On_Update_Case_Record</targetReference>
        </faultConnector>
        <inputReference>Get_Case_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Parent_record_update</name>
        <label>Parent record update</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Case_Record_Update</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_On_Update_Parent_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Settled</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>1013</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Transaction_Status_Changed</targetReference>
        </connector>
        <object>FinancialAccountTransaction</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
