force-app/main/default/flows/Financial_Account_Transaction_After_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Status_is_paid_for_case</name>
        <label>Status is paid for case</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_status_is_settled_for_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_is_partial_paid_for_case</name>
        <label>Status is partial paid for case</label>
        <locationX>754</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partially Paid</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Record_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>status_is_settled</name>
        <label>status is settled</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Settled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Record.Date_of_the_settlement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parent_record_update</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Error_On_Get_Case_Record</name>
        <label>Error On Get Case Record</label>
        <locationX>1282</locationX>
        <locationY>539</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Error_On_Update_Case_Record</name>
        <label>Error On Update Case Record</label>
        <locationX>1018</locationX>
        <locationY>1595</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Error_On_Update_Parent_Record</name>
        <label>Error On Update Parent Record</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Payment_Status</name>
        <label>Check Payment Status</label>
        <locationX>534</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Status_is_partial_paid_for_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IF Partial Paid</defaultConnectorLabel>
        <rules>
            <name>If_Fully_Paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Option__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pay the Entire Amount</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_is_paid_for_case</targetReference>
            </connector>
            <label>If Fully Paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_status_is_settled_for_case</name>
        <label>Check status is settled for case</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Case_Record_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>case_have_parent_record_or_not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>status_is_settled</targetReference>
            </connector>
            <label>case have parent record or not</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Transaction_Status_Changed</name>
        <label>Check Transaction Status Changed</label>
        <locationX>1040</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Record</targetReference>
            </connector>
            <label>Is Changed And Status Paid</label>
        </rules>
    </decisions>
    <description>Case status changed to paid, partial paid and settlement</description>
    <environments>Default</environments>
    <interviewLabel>Financial Account Transaction (After Insert,Update) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Financial Account Transaction (After Insert,Update)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>534</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Payment_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_On_Get_Case_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Case_Record_Update</name>
        <label>Case Record Update</label>
        <locationX>534</locationX>
        <locationY>1487</locationY>
        <faultConnector>
            <targetReference>Error_On_Update_Case_Record</targetReference>
        </faultConnector>
        <inputReference>Get_Case_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Parent_record_update</name>
        <label>Parent record update</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Case_Record_Update</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_On_Update_Parent_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Settled</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>914</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Transaction_Status_Changed</targetReference>
        </connector>
        <object>FinancialAccountTransaction</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
