force-app/main/default/flows/Refund_And_Waive_Off_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Id_Of_Financial_Fee</name>
        <label>Add Id Of Financial Fee</label>
        <locationX>622</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ListOfFinancialFee</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Refund_and_waive_off.Financial_Account_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Refund_and_waive_off</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Amount_assign</name>
        <label>Amount assign</label>
        <locationX>754</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Amount_assignment</name>
        <label>Amount assignment</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AmountRefund</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Manager</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Charges_and_Fees</name>
        <label>Check selected picklist record id</label>
        <locationX>886</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Loop_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Charges_and_Fees</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Chaarge_Picklist</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Amount_assign</targetReference>
            </connector>
            <label>Id match with picklist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Financial_Fees_Is_Null_Or_Not</name>
        <label>Check Financial Fees Is Null Or Not</label>
        <locationX>534</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Add_Id_Of_Financial_Fee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Refund_and_waive_off.Financial_Account_Fee__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Refund_and_waive_off</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Manager</name>
        <label>Check Manager</label>
        <locationX>358</locationX>
        <locationY>1742</locationY>
        <defaultConnector>
            <targetReference>Error_Of_Manager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manager_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Refund_and_waive_off_record</targetReference>
            </connector>
            <label>Manager Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Type_Value</name>
        <label>Check Type Value</label>
        <locationX>358</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Loop_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Waive Off</defaultConnectorLabel>
        <rules>
            <name>Refund</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TypePicklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refund</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Amount_assignment</targetReference>
            </connector>
            <label>Refund</label>
        </rules>
    </decisions>
    <description>Refund and Waiver Screen</description>
    <dynamicChoiceSets>
        <name>Chargetype</name>
        <collectionReference>Get_Charge_and_Fees</collectionReference>
        <dataType>String</dataType>
        <displayField>Type</displayField>
        <object>FinancialAccountFee</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NewChargeType</name>
        <collectionReference>Get_Charge_and_Fees</collectionReference>
        <dataType>String</dataType>
        <displayField>Amount_With_type__c</displayField>
        <object>FinancialAccountFee</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Refund_and_Waive_off_Request__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Refund And Waive Off Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Refund And Waive Off Screen</label>
    <loops>
        <name>Loop_1</name>
        <label>Charges and Fees</label>
        <locationX>666</locationX>
        <locationY>1166</locationY>
        <collectionReference>Get_Charge_and_Fees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Charges_and_Fees</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Manager</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Refund_and_waive_off</name>
        <label>Loop on Refund and waive off</label>
        <locationX>358</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Existing_Refund_and_Waive_Off</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Financial_Fees_Is_Null_Or_Not</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Charge_and_Fees</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Refund_and_waive_off_record</name>
        <label>Refund and waive off record</label>
        <locationX>94</locationX>
        <locationY>1850</locationY>
        <connector>
            <targetReference>SuccessMessage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <elementReference>$Label.Pending_For_Approval</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financial_Account_Fee__c</field>
            <value>
                <elementReference>Chaarge_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financial_Account__c</field>
            <value>
                <elementReference>Get_Case_Record.Financial_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <elementReference>Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>TypePicklist</elementReference>
            </value>
        </inputAssignments>
        <object>Refund_and_Waive_off_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>358</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Refund_and_Waive_Off</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_On_Get_Case</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Charge_and_Fees</name>
        <label>Get Charge and Fees</label>
        <locationX>358</locationX>
        <locationY>842</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Refund_And_Waive_Off</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_On_Get_Charges_And_Fee</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>ListOfFinancialFee</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Label.FinancialAccountType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FinancialAccountFee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Refund_and_Waive_Off</name>
        <label>Get Existing Refund and Waive Off</label>
        <locationX>358</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Refund_and_waive_off</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_On_Get_Refund_And_Waive</targetReference>
        </faultConnector>
        <filterLogic>1 AND ( 2 OR 3 )</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Approved</elementReference>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Pending_For_Approval</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Refund_and_Waive_off_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Error_Of_Manager</name>
        <label>Error Of Manager</label>
        <locationX>622</locationX>
        <locationY>1850</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Manger_is_not_present</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!$Label.Assign_Manager}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_On_Get_Case</name>
        <label>Error On Get Case</label>
        <locationX>1414</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_ShowError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_On_Get_Charges_And_Fee</name>
        <label>Error On Get Charges And Fee</label>
        <locationX>886</locationX>
        <locationY>950</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_3_of_ShowError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_On_Get_Refund_And_Waive</name>
        <label>Error On Get Refund And Waive</label>
        <locationX>1150</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_ShowError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>358</locationX>
        <locationY>1958</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ShowError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Refund_And_Waive_Off</name>
        <label>Refund And Waive Off</label>
        <locationX>358</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Close</backButtonLabel>
        <connector>
            <targetReference>Check_Type_Value</targetReference>
        </connector>
        <fields>
            <name>Refund_And_Waive_Off_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Refund_And_Waive_Off_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TypePicklist</name>
                    <choiceReferences>Type</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Refund_And_Waive_Off_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Chaarge_Picklist</name>
                    <choiceReferences>NewChargeType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Charge Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TypePicklist</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Waive Off</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>AmountRefund</name>
                    <dataType>Currency</dataType>
                    <fieldText>Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TypePicklist</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Refund </stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Reason</name>
            <fieldText>Reason</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessMessage</name>
        <label>SuccessMessage</label>
        <locationX>94</locationX>
        <locationY>1958</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!$Label.Successfully_created_refund_and_waiver}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Amount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ListOfFinancialFee</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
