force-app/main/default/flows/Refund_And_Waive_Off_After_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approval_request_to_manager</name>
        <label>Approval request to manager</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <faultConnector>
            <targetReference>Approval_error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Refund_And_Waive_Off_Approval</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assigment_of_amount_variable_with_record_amount</name>
        <label>Assigment of amount variable with record amount</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_transaction_record</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Approval_error</name>
        <label>Approval error</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Custom_Error</name>
        <label>Custom Error</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_status_is_approved_or_rejected</name>
        <label>Check status is approved or rejected</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Status is rejected</defaultConnectorLabel>
        <rules>
            <name>Status_is_approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigment_of_amount_variable_with_record_amount</targetReference>
            </connector>
            <label>Status is approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Update_And_Insert</name>
        <label>Check Update And Insert</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_status_is_approved_or_rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If Update</defaultConnectorLabel>
        <rules>
            <name>If</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_request_to_manager</targetReference>
            </connector>
            <label>If Insert</label>
        </rules>
    </decisions>
    <description>Status is approved and amount is less than 5000 , create a transaction record</description>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Refund And Waive Off(After Insert,Update) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Refund And Waive Off (After Create,Update)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_transaction_record</name>
        <label>Create transaction record</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <faultConnector>
            <targetReference>Custom_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DebitCreditIndicator</field>
            <value>
                <elementReference>$Label.DebitIndicator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinancialAccountId</field>
            <value>
                <elementReference>$Record.Financial_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refund_and_Waive_off_Request__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransactionDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Type__c</field>
            <value>
                <stringValue>Refund or Waive Off</stringValue>
            </value>
        </inputAssignments>
        <object>FinancialAccountTransaction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Update_And_Insert</targetReference>
        </connector>
        <object>Refund_and_Waive_off_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>5000.0</numberValue>
        </value>
    </variables>
</Flow>
