force-app/main/default/flows/Send_Settlement_Payment_Link.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Payment_Link_Action_1</name>
        <label>Send Payment Link Action</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <actionName>SendPaymentLinkListAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success_Error_Message_On_Payment_Link</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_On_Send_Settlement_Payment_Link</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>Get_Case_Record.Settlement_Amount__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paymentMode</name>
            <value>
                <stringValue>Send Payment Link</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paymentOption</name>
            <value>
                <stringValue>Send Payment Link</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SendPaymentLinkListAction</nameSegment>
        <outputParameters>
            <assignToReference>StoreMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>isError</assignToReference>
            <name>isError</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>PaymentId</assignToReference>
            <name>razorePaymentId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>PaymentStatus</assignToReference>
            <name>razorePaymentStatus</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>PaymentUrl</assignToReference>
            <name>razorePaymentUrl</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Check_Message_Success_Or_Error</name>
        <label>Check Payment Link Success Or Error</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>On_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Transaction_Record</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <description>Send the settlement payment link to customer</description>
    <environments>Default</environments>
    <interviewLabel>Send Settlement Payment Link {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Send Settlement Payment Link</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Transaction_Record</name>
        <label>Create Transaction Record</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <faultConnector>
            <targetReference>Error_On_Create_Transaction_Record</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Get_Case_Record.Settlement_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DebitCreditIndicator</field>
            <value>
                <elementReference>$Label.DebitCreditIndicator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinancialAccountId</field>
            <value>
                <elementReference>Get_Case_Record.Financial_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <stringValue>Send Payment Link</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Option__c</field>
            <value>
                <stringValue>Pay the Entire Amount</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Url__c</field>
            <value>
                <elementReference>PaymentUrl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RazorPay_Payment_Id__c</field>
            <value>
                <elementReference>PaymentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>PaymentStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransactionDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>FinancialAccountTransaction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Payment_Link_Action_1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_On_Get_Case_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_On_Create_Transaction_Record</name>
        <label>Error On Create Transaction Record</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FlowError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(8, 8, 8);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_On_Get_Case_Record</name>
        <label>Error On Get Case Record</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(12, 11, 11);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_On_Send_Settlement_Payment_Link</name>
        <label>Error On Send Settlement Payment Link</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayApexError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(5, 5, 5); font-size: 16px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Error_Message_On_Payment_Link</name>
        <label>Success/Error Message On Payment Link</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Message_Success_Or_Error</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(18, 17, 17);&quot;&gt;{!StoreMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>isError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PaymentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PaymentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PaymentUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StoreMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
